* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
    background: #f4f7fb;
    color: #222;
}

.container {
    width: 90%;
    max-width: 420px;
    margin: 80px auto;
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
    text-align: center;
}

h1 {
    margin-bottom: 10px;
}

input {
    width: 100%;
    padding: 13px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
}

button {
    width: 100%;
    padding: 13px;
    margin-top: 10px;
    border: none;
    border-radius: 8px;
    background: #1677ff;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    opacity: 0.9;
}

a {
    text-decoration: none;
}

.dashboard {
    width: 94%;
    max-width: 1100px;
    margin: 30px auto;
}

header {
    background: white;
    padding: 25px;
    border-radius: 15px;
    margin-bottom: 20px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    margin-bottom: 30px;
}

.card {
    background: white;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 3px 12px rgba(0,0,0,0.08);
}

.card p {
    font-size: 24px;
    font-weight: bold;
}

table {
    width: 100%;
    background: white;
    border-collapse: collapse;
}

th, td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

@media (max-width: 700px) {

    .cards {
        grid-template-columns: 1fr;
    }

    table {
        font-size: 13px;
    }
  }
